<div class="container-fluid">
  <div class="container">
    <div class="man-container">
      <div class="row">
        <div class="col-md-3">
          <p>Text type</p>
        </div>
        <div class="col-md-3">
          <p>Class name</p>
        </div>
        <div class="col-md-3">
          <p>Font size</p>
        </div>
        <div class="col-md-3">
          <p>Font color</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p>Heading 1</p>
        </div>
        <div class="col-md-3">
          <p>man-h1</p>
        </div>
        <div class="col-md-3">
          <p>32px</p>
        </div>
        <div class="col-md-3">
          <p>#000000</p>
        </div>
      </div>
      <div class="row">
          <div class="col-md-3">
            <p>Heading 2</p>
          </div>
          <div class="col-md-3">
            <p>man-h2</p>
          </div>
          <div class="col-md-3">
            <p>28px</p>
          </div>
          <div class="col-md-3">
            <p>#000000</p>
          </div>
        </div>
        <div class="row">
            <div class="col-md-3">
              <p>Heading 3</p>
            </div>
            <div class="col-md-3">
              <p>man-h3</p>
            </div>
            <div class="col-md-3">
              <p>24px</p>
            </div>
            <div class="col-md-3">
              <p>#000000</p>
            </div>
          </div>
          <div class="row">
              <div class="col-md-3">
                <p>Heading 4</p>
              </div>
              <div class="col-md-3">
                <p>man-h4</p>
              </div>
              <div class="col-md-3">
                <p>20px</p>
              </div>
              <div class="col-md-3">
                <p>#000000</p>
              </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                  <p>Body text</p>
                </div>
                <div class="col-md-3">
                  <p>man-body-text</p>
                </div>
                <div class="col-md-3">
                  <p>16px</p>
                </div>
                <div class="col-md-3">
                  <p>#000000</p>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-3">
                    <p>Body text small</p>
                  </div>
                  <div class="col-md-3">
                    <p>man-body-text--small</p>
                  </div>
                  <div class="col-md-3">
                    <p>14px</p>
                  </div>
                  <div class="col-md-3">
                    <p>#000000</p>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                      <p>Body text 2</p>
                    </div>
                    <div class="col-md-3">
                      <p>man-body-text-2</p>
                    </div>
                    <div class="col-md-3">
                      <p>16px</p>
                    </div>
                    <div class="col-md-3">
                      <p>#000000</p>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-md-3">
                        <p>Body text 2 small</p>
                      </div>
                      <div class="col-md-3">
                        <p>man-body-text-2--small</p>
                      </div>
                      <div class="col-md-3">
                        <p>14px</p>
                      </div>
                      <div class="col-md-3">
                        <p>#000000</p>
                      </div>
                    </div>
    </div>
  </div>
</div>