<div class="container-fluid">
  <div class="container">
    <div class="man-container">
      <mat-tab-group>
        <mat-tab label="Typography">
          <h3>Typography</h3>
          <h4>Heading Classes</h4>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Text Type</th>
                <th>Class Name</th>
                <th>Font Size</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <p>Heading 1</p>
                </td>
                <td>man-h1</td>
                <td>32px</td>
              </tr>
              <tr>
                <td>
                  <p>Heading 2</p>
                </td>
                <td>man-h2</td>
                <td>28px</td>
              </tr>
              <tr>
                <td>
                  <p>Heading 3</p>
                </td>
                <td>man-h3</td>
                <td>24px</td>
              </tr>
              <tr>
                <td>
                  <p>Heading 4</p>
                </td>
                <td>man-h4</td>
                <td>20px</td>
              </tr>
            </tbody>
          </table>
          <h4>Font Size Classes</h4>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Class Name</th>
                <th>Font Size</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <p>man-text--xs</p>
                </td>
                <td>
                  <p>12px</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>man-text--sm</p>
                </td>
                <td>
                  <p>14px</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>man-text--rg</p>
                </td>
                <td>
                  <p>16px</p>
                </td>
              </tr>
            </tbody>
          </table>
          <h4>Font Weight Classes</h4>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Class Name</th>
                <th>Font Weight</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <p>regular</p>
                </td>
                <td>
                  <p>400</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>medium</p>
                </td>
                <td>
                  <p>500</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>semi-bold</p>
                </td>
                <td>
                  <p>600</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>bold</p>
                </td>
                <td>
                  <p>700</p>
                </td>
              </tr>
            </tbody>
          </table>
          <h4>Font Color Classes</h4>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Class Name</th>
                <th>Font Color</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <p>primary-gray</p>
                </td>
                <td>
                  <p>#4f4f4f</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>primary-black</p>
                </td>
                <td>
                  <p>#000</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>primary-white</p>
                </td>
                <td>
                  <p>#fff</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>primary-highlight</p>
                </td>
                <td>
                  <p>#f73281</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>secondary-lightgray</p>
                </td>
                <td>
                  <p>#696969</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>tertiary-purple</p>
                </td>
                <td>
                  <p>#992e98</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>quaternary-red</p>
                </td>
                <td>
                  <p>#eb1818</p>
                </td>
              </tr>
            </tbody>
          </table>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
<button type="button" class="btn">Basic</button>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-dark">Dark</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-link">Link</button>