<div class="container-fluid">
  <div class="container">
    <div class="man_header">
      <div class="main_header-wrapper">
        <div class="wrapper_items d-flex align-items-center justify-content-between">
          <div class="p-2">
            <img src="../../../assets/images/logo.png" alt="Web Accessibility Initiative Logo">
          </div>
          <!-- <div class="p-2">
            <div class="d-flex justify-content-end first-set">
              <div class="p-1" style="display:none;">
                <mat-form-field class="lang">
                  <mat-select [(value)]="selected">
                    <mat-option>None</mat-option>
                    <mat-option value="option1">ENGLISH</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="p-1" style="display:none;">
                <mat-form-field class="country">
                  <mat-select [(value)]="selected">
                    <mat-option>None</mat-option>
                    <mat-option value="option1">AUD</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="p-2">
                <div class="man_txt--body1-small">AUD</div>
              </div>
              <div class="p-2">
                <div class="man_txt--int">
                  3456.34
                </div>
              </div>
              <div class="p-2">
                <div class="cart-wrapper">
                  <button mat-raised-button color="primary" matBadge="8" matBadgePosition="after" matBadgeColor="accent">
                    <i class="material-icons">
                      shopping_cart
                    </i>
                  </button>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-end align-items-baseline second-set">
              <div class="p-2">
                <div class="ref-set man_txt--body1">
                  <span>Meeting Room</span>
                  <span>Conference Room</span>
                  <span>Event/ Function</span>
                  <span>Training Room</span>
                  <span>Desk/ Coworking</span>
                </div>
              </div>
              <div class="p-2 login-sec">
                <div class="d-flex flex-nowrap align-items-center justify-content-center login-icon">
                  <i class="material-icons p align-self-center">
                    person
                  </i>
                </div>
              </div>
              <div class="p-2 man_txt--body2">
                <span class="man_txt--body2">Login</span>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <div class="man_alternative-header">
      <div class="sub_header-wrapper">
        <div class="d-flex justify-content-end align-items-center">
          <div class="left-set">
            <div class="d-flex align-items-center first-set">
              <div class="p-2">
                <div class="d-flex flex-column">
                  <div class="man_txt--body1-small">AUD</div>
                  <div class="man_txt--int">
                    3456.34
                  </div>
                </div>
              </div>
              <div class="p-2 align-self-center">
                <div class="cart-wrapper">
                  <button mat-raised-button color="primary" matBadge="12" matBadgePosition="after" matBadgeColor="warn">
                    <i class="material-icons">
                      shopping_cart
                    </i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="p-2">
            <div class="d-flex justify-content-end align-items-baseline">
              <div class="p-2 login-sec">
                <div class="d-flex flex-nowrap align-items-center justify-content-center login-icon">
                  <i class="material-icons p align-self-center">
                    person
                  </i>
                </div>
              </div>
              <div class="second-set p-2">
                <div class="man_txt--body2">
                  Login
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>