$theme_color: green;

$prifix: "man_";

//Typography
$font-family__montserratAlternates--semiBold: "Rubic SemiBold";
$font-family__montserrat--medium: "Rubic Medium";
$font-family__montserrat--semiBold: "Rubic SemiBold";
$font-family__montserrat--regular: "Rubic Regular";
$font-family__montserrat--ultraLight: "Rubic UltraLight";
$font-family__montserrat--regular: "Rubic Bold";

//manningham Theme Colors
$man_color--primary-logo: #00688c;
$man_color--primary-lightpurple: #b05ea6;
$man_color--primary-purple: #a03994;
$man_color--primary-darkpurple: #51447c;
$man_color--primarry-pink: #f73281;
$man_color--primary-lightgreen: #c2e067;
$man_color--primary-green: #008d4a;

$man_color--secondary-green: #2ecd73;
$man_color--secondary-blue: #006ff8;
$man_color--secondary-orange: #f85f30;

$man_color--white: #fff;
$man_color--black: #000;

//Text Colors
$man_text-color--primary__darkgray: #4f4f4f;
$man_text-color--primary-black: $man_color--black;
$man_text-color--primary-white: $man_color--white;
$man_text-color--primary-highlights: $man_color--primarry-pink;
$man_text-color--secondary-lightgray: #696969;
$man_text-color--tertiary-purple: #992e98;
$man_text-color--quaternary-red: #eb1818;

//State Colors
$man_state--no-state: $man_color--primarry-pink;

//Button Colors
$man_btn--success: $man_color--secondary-green;
$man_btn--default: $man_color--secondary-blue;

//Background Color
$man_backgrond--light: #ebebeb;
$man_backgrond--footer-light: $man_color--primary-lightgreen;
$man_backgrond--footer-light: $man_color--primary-green;
$man_backgrond--alert: $man_text-color--quaternary-red;
